Математическая база

Получите набор случайно сгенерированных данных. Нормализуйте данные (приведите к диапазону [0,1]) и подсчитайте некоторые показатели :
Математическое ожидание
Дисперсия
Стандартное отклонение
Оформите результат задания в .ipynb или .py.

In [202]:
import random
from collections import Counter

import scipy
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings('ignore')

In [203]:
def generate_data(n_features: int = 10, count_examples: int = 10) -> np.array:
    """
    function for generating data
    :param n_features: count of a columns
    :param count_examples: count of a rows 
    :return: 2d  array with random data
    """
    x = np.array([[i * random.randint(1, 5) for i in range(1, n_features + 1)] for j in range(1, count_examples + 1)])
    return x

In [204]:
N_FEATURES = 10
N_SAMPLES = 20

data = generate_data(N_FEATURES,N_SAMPLES) # get the generated data

In [205]:
norm_data = MinMaxScaler().fit_transform(data)  # normalize the generated data using the minmaxscaller tool

In [206]:
pd.DataFrame(data)  # Look at the raw data

    0   1   2   3   4   5   6   7   8   9
0   4   8  12   8  20  18  14  32  45  10
1   2   8  15  20  20  18  21  40  36  30
2   1   4   6  20  10  30  28  32  45  50
3   2   8   6   8  20  30  21  16   9  50
4   1   8   9  16  25  30  21   8  45  40
5   5   6   3  20  20  24  14  24  45  50
6   1   4   6  12  25  30   7   8  45  10
7   3   6   3   8   5  18  35  40  18  20
8   4   6  12   4   5  30   7   8   9  50
9   5   2  15  20   5  12  28  24  27  20
10  1   2   6   8  15  12  28  40  18  50
11  2   2   9  20  15  30  14   8  45  20
12  4   6   6   8  15  24  35  40  45  20
13  4  10  12   4  20  24  28  16   9  50
14  5  10  15  20  20  24  35  24  27  20
15  5   6   9  16  15  18  21  40  27  50
16  4   2  12   4  20  18   7   8   9  20
17  1   8  12  12  20   6  14  32  18  50
18  4   6   3   8  20  24   7  32  18  50
19  2   8  12  12  10  18   7  32  18  30

In [207]:
pd.DataFrame(norm_data)  # Look at the raw normalize data

       0     1     2     3     4     5     6     7     8     9
0   0.75  0.75  0.75  0.25  0.75  0.50  0.25  0.75  1.00  0.00
1   0.25  0.75  1.00  1.00  0.75  0.50  0.50  1.00  0.75  0.50
2   0.00  0.25  0.25  1.00  0.25  1.00  0.75  0.75  1.00  1.00
3   0.25  0.75  0.25  0.25  0.75  1.00  0.50  0.25  0.00  1.00
4   0.00  0.75  0.50  0.75  1.00  1.00  0.50  0.00  1.00  0.75
5   1.00  0.50  0.00  1.00  0.75  0.75  0.25  0.50  1.00  1.00
6   0.00  0.25  0.25  0.50  1.00  1.00  0.00  0.00  1.00  0.00
7   0.50  0.50  0.00  0.25  0.00  0.50  1.00  1.00  0.25  0.25
8   0.75  0.50  0.75  0.00  0.00  1.00  0.00  0.00  0.00  1.00
9   1.00  0.00  1.00  1.00  0.00  0.25  0.75  0.50  0.50  0.25
10  0.00  0.00  0.25  0.25  0.50  0.25  0.75  1.00  0.25  1.00
11  0.25  0.00  0.50  1.00  0.50  1.00  0.25  0.00  1.00  0.25
12  0.75  0.50  0.25  0.25  0.50  0.75  1.00  1.00  1.00  0.25
13  0.75  1.00  0.75  0.00  0.75  0.75  0.75  0.25  0.00  1.00
14  1.00  1.00  1.00  1.00  0.75  0.75  1.00  0.50  0.50  0.25
15  1.00  0.50  0.50  0.75  0.50  0.50  0.50  1.00  0.50  1.00
16  0.75  0.00  0.75  0.00  0.75  0.50  0.00  0.00  0.00  0.25
17  0.00  0.75  0.75  0.50  0.75  0.00  0.25  0.75  0.25  1.00
18  0.75  0.50  0.00  0.25  0.75  0.75  0.00  0.75  0.25  1.00
19  0.25  0.75  0.75  0.50  0.25  0.50  0.00  0.75  0.25  0.50

In [208]:
pd.DataFrame(data).describe()

,0,1,2,3,4,5,6,7,8,9
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,3.000000,6.000000,9.150000,12.400000,16.250000,21.90000,19.600000,25.200000,27.900000,34.500000
std,1.555973,2.595543,4.068816,6.073237,6.256575,7.09262,10.054588,12.521981,14.570699,15.719582
min,1.000000,2.000000,3.000000,4.000000,5.000000,6.00000,7.000000,8.000000,9.000000,10.000000
25%,1.750000,4.000000,6.000000,8.000000,13.750000,18.00000,12.250000,14.000000,18.000000,20.000000
50%,3.500000,6.000000,9.000000,12.000000,20.000000,24.00000,21.000000,28.000000,27.000000,35.000000
75%,4.000000,8.000000,12.000000,20.000000,20.000000,30.00000,28.000000,34.000000,45.000000,50.000000
max,5.000000,10.000000,15.000000,20.000000,25.000000,30.00000,35.000000,40.000000,45.000000,50.000000

In [209]:
pd.DataFrame(norm_data).describe()

,0,1,2,3,4,5,6,7,8,9
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.00000
mean,0.500000,0.500000,0.512500,0.525000,0.562500,0.662500,0.450000,0.537500,0.525000,0.61250
std,0.388993,0.324443,0.339068,0.379577,0.312829,0.295526,0.359092,0.391312,0.404742,0.39299
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,0.187500,0.250000,0.250000,0.250000,0.437500,0.500000,0.187500,0.187500,0.250000,0.25000
50%,0.625000,0.500000,0.500000,0.500000,0.750000,0.750000,0.500000,0.625000,0.500000,0.62500
75%,0.750000,0.750000,0.750000,1.000000,0.750000,1.000000,0.750000,0.812500,1.000000,1.00000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

Using the describe function I got statistics such as the expectation (mean) and standard deviation (std). The variance is std squared, and we display it for each parameter

In [210]:
for i in range(data.shape[1]):
    print(f"Mathematical expectation for {i} features {scipy.mean(data[:,i])}")
    print(f"Varience for {i} features {scipy.var(data[:,i])}")
    print(f"Standard scaller for {i} features {scipy.std(data[:,i])}")
    print("\n")

Mathematical expectation for 0 features 3.0
Varience for 0 features 2.3
Standard scaller for 0 features 1.51657508881031


Mathematical expectation for 1 features 6.0
Varience for 1 features 6.4
Standard scaller for 1 features 2.5298221281347035


Mathematical expectation for 2 features 9.15
Varience for 2 features 15.727500000000001
Standard scaller for 2 features 3.965791219920686


Mathematical expectation for 3 features 12.4
Varience for 3 features 35.03999999999999
Standard scaller for 3 features 5.919459434779496


Mathematical expectation for 4 features 16.25
Varience for 4 features 37.1875
Standard scaller for 4 features 6.098155458825234


Mathematical expectation for 5 features 21.9
Varience for 5 features 47.790000000000006
Standard scaller for 5 features 6.913031173081748


Mathematical expectation for 6 features 19.6
Varience for 6 features 96.03999999999999
Standard scaller for 6 features 9.799999999999999


Mathematical expectation for 7 features 25.2
Varience for 7 features 148.95999999999998
Standard scaller for 7 features 12.204917041913886


Mathematical expectation for 8 features 27.9
Varience for 8 features 201.68999999999997
Standard scaller for 8 features 14.201760454253549


Mathematical expectation for 9 features 34.5
Varience for 9 features 234.75
Standard scaller for 9 features 15.321553446044563

Knowing the inner tools is great
But it's much more interesting to implement it yourself and show your deep understanding

In [211]:
def get_mathematical_expectation(data_col: np.array) -> float:
    mean = 0
    for key, value in dict(Counter(data_col)).items():
        mean += key * (value/data_col.shape[0])
        
    return mean

def get_varience(data_col: np.array) -> float:
    avg = sum(data_col) / len(data_col)
    var = sum((x-avg)**2 for x in data_col) / len(data_col)

    return var

def get_std(data_cal: np.array) -> float:
    
    return get_varience(data_cal) ** (1/2)

In [212]:
for i in range(data.shape[1]):
    print(f"Mathematical expectation for {i} features {get_mathematical_expectation(data[:,i])}")
    print(f"Varience for {i} features {get_varience(data[:,i])}")
    print(f"Standard scaller for {i} features {get_std(data[:,i])}")
    print("\n")

Mathematical expectation for 0 features 3.0
Varience for 0 features 2.3
Standard scaller for 0 features 1.51657508881031


Mathematical expectation for 1 features 6.0
Varience for 1 features 6.4
Standard scaller for 1 features 2.5298221281347035


Mathematical expectation for 2 features 9.149999999999999
Varience for 2 features 15.727500000000001
Standard scaller for 2 features 3.965791219920686


Mathematical expectation for 3 features 12.4
Varience for 3 features 35.040000000000006
Standard scaller for 3 features 5.9194594347794975


Mathematical expectation for 4 features 16.25
Varience for 4 features 37.1875
Standard scaller for 4 features 6.098155458825234


Mathematical expectation for 5 features 21.9
Varience for 5 features 47.79
Standard scaller for 5 features 6.913031173081747


Mathematical expectation for 6 features 19.6
Varience for 6 features 96.03999999999999
Standard scaller for 6 features 9.799999999999999


Mathematical expectation for 7 features 25.200000000000003
Varience for 7 features 148.95999999999998
Standard scaller for 7 features 12.204917041913886


Mathematical expectation for 8 features 27.9
Varience for 8 features 201.68999999999994
Standard scaller for 8 features 14.201760454253549


Mathematical expectation for 9 features 34.5
Varience for 9 features 234.75
Standard scaller for 9 features 15.321553446044563